.container {
  display: flex;

  .btn-el {
    border-radius: 5px;
    color: white;
    min-height: 3em;
    border: none;

    &:focus {
      outline: 2px solid forestgreen;
    }


    &:hover {
      outline: 2px solid forestgreen;
      cursor: pointer;
    }

    &.primary {
      background-color: dodgerblue;
    }

    &.warning {
      background-color: lightcoral;
    }

    &.info {
      background-color: grey;
    }

    &:active {
      background-color: forestgreen;
    }
  }
}

// :host(rx-button) {
// &[type=primary] {
//   background-color: red;
// }
// }
