.container {
  display: flex;

  .btn-el {
    border-radius: var(--border-radius);
    color: white;
    min-height: 3em;
    border: none;

    &:focus {
      outline: 2px solid var(--border-color);
    }


    &:hover {
      outline: 2px solid var(--border-color);
      cursor: pointer;
    }

    &.primary {
      background-color: var(--primary-color);
    }

    &.warning {
      background-color: var(--warning-color);
    }

    &.info {
      background-color: var(--info-color);
    }

    &:active {
      background-color: var(--active-color);
    }
  }
}

// :host(rx-button) {
// &[type=primary] {
//   background-color: red;
// }
// }
