.container {
  display: flex;

  .btn-el {
    border-radius: 5px;
    color: white;
    min-height: 3em;
    border: none;

    &:focus {
      outline: 2px solid forestgreen;
    }


    &:hover {
      outline: 2px solid forestgreen;
      cursor: pointer;
    }

    &[btn-type=primary] {
      background-color: dodgerblue;
    }

    &[btn-type=warning] {
      background-color: lightcoral;
    }

    &[btn-type=info] {
      background-color: grey;
    }

    &:active {
      background-color: forestgreen;
    }
  }
}
