.container {
  display: flex;
  gap: 1em;

  .switch-container {
    cursor: pointer;
    background-color: grey;
    width: 2.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    transition: background var(--base-animation);

    &::after {
      display: block;
      content: '';
      background-color: white;
      border-radius: 50%;
      height: 1em;
      width: 1em;
      margin: 4px;
      --animation-duration: .3s;
      transition: transform var(--base-animation);
    }

    &.selected {
      background-color: blue;

      &::after {
        transform: translateX(100%);
      }
    }
  }
}
