.container {
  display: flex;
  gap: 1em;

  .switch-container {
    background-color: grey;
    width: 2.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color var(--base-animation), justify-content var(--base-animation);

    &::after {
      display: block;
      content: '';
      background-color: white;
      border-radius: 50%;
      height: 1em;
      width: 1em;
      margin: 4px;
      --animation-duration: .01s;
      --base-animation: var(--animation-duration) var(--animation-type);
      transition: width var(--base-animation);
    }

    &:active {
      &::after {
        width: 1.5em;
      }
    }

    &.selected {
      background-color: blue;
      justify-content: right;
    }
  }
}
