:root {
    --border-color: lightblue;
    --border-radius: 5px;
    --primary-color: dodgerblue;
    --secondary-color: #d6ecff;
    --warning-color: lightcoral;
    --info-color: grey;
    --button-primary-hover-color: lightblue;
    --button-warning-hover-color: lightsalmon;
    --button-info-hover-color: lightgrey;
    --button-secondary-hover-color: #bfe1ff;
}
