.select-container {
  border-radius: var(--border-radius);
  border: 1px solid lightgrey;
  background-color: lightyellow;

  &:focus,
  &:hover {
    border: 1px solid var(--border-color);
    outline: none;
    box-sizing: border-box;
  }

  &:hover {
    cursor: pointer;
  }
}
